.player-info {
    min-width: 225px;
    position: relative;
}
.player-name-input {
    border: 3px solid #666;
    border-radius: 5px;
    padding-right: 38px;
    height: 45px;
    width: 95%
}
.name-submit {
    cursor: pointer;
    font-size: 2rem;
    position: absolute;
    top: 24px;
    right: 14px;
}
.attack-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 10px auto;
}
.attack-btns {
    border: 3px solid #666;
    border-radius: 5px;
    font-size: 4rem;
    margin: 10px;
    height: 100px;
    width: 100px;
}
#p1-name {
    color: lightskyblue;
    font-size: 1.25rem;
    font-weight: 800;
}
#p2-name {
    color: mediumorchid;
    font-size: 1.25rem;
    font-weight: 800;
}
#player1 .attack-btns {
    color: lightskyblue;
}
#player2 .attack-btns {
    color: mediumorchid;
}
.scissors {
    transform: scaleX(-1);
}
#show-hand {
    flex-basis: 45%;
}

/* Chat Area */
#chatbox {
    border: 3px solid #666;
    border-radius: 5px;
    overflow: auto;
    max-height: 200px;
    min-height: 100px;
    width: 100%;
}
#textbox {
    border: 1px solid #666;
    height: 80px;
    width: 100%;
}
#chat-submit {
    float: right;
}

@media only screen and (max-width: 500px) {
    .attack-btns {
        font-size: 2.5rem;
        height: 65px;
        width: 65px;
    }
}