.attack-wrapper {
    margin: 10px auto;
}
.attack-btns {
    border: 3px solid #666;
    border-radius: 5px;
    font-size: 4rem;
    margin: 10px;
    height: 100px;
    width: 100px;
}
#chatbox {
    border: 3px solid #666;
    border-radius: 5px;
    height: 250px;
    width: 100%;
}
#textbox {
    border: 1px solid #666;
    height: 80px;
    width: 100%;
}